body {margin:0 auto;
    width:1100px; 
   
}
.body{text-align:center;margin-top:20px;}
.logo{border-bottom:4px solid #fc6106;width:1000px;height:100px;padding-bottom:10px;margin-left:25px;}
logoimg img{float:left;vertical-align:top;}
.txt{font-size:25px;margin-top:30px;padding-bottom:20px;font-weight:100;}
input{color:#9b9393;}
a:hover{color:#fa0d0d;}
a:active{color:#471668;}
a{color:#fc6106;font-weight:600;text-decoration:underline;}

#loginform {width:1000px;margin-left:25px;font-size:14px;}
#name {margin-left:70px;padding-top:40px;}
#pass {margin-left:-74px;padding-top:40px;padding-bottom:40px;}

#login {margin-left:-20px;height:50px;width:200px;background-color:#ee3d1d;color:white;margin-top:20px;}
/*fooger*/
.footer img{width:1000px;margin-top:20px;}
.footer{border-top:2px solid #f62d09; float:left;text-align:center;margin-left:30px;margin-top:50px;}