body {margin:0 auto;
    width:750px; 
   
}
.body{text-align:center;margin-top:25px;}

input{color:#9b9393;}
a{color:#fc6106;text-decoration:underline;}
a:hover{color:#fa0d0d;}
a:active{color:#471668;}

#modefypwdform {width:750px;margin-left:-2px;text-align:center;}
#pwddiv {margin-left:20px;padding-top:40px;}
#newpwddiv {margin-left:-12px;padding-top:35px;}
#renewpwddiv {margin-left:-12px;padding-top:35px;padding-bottom:40px;}

#modefypwd {margin-left:20px;height:50px;width:120px;background-color:#ee3d1d;color:white;margin-top:20px;}
.cancel button{margin-left:20px;height:50px;width:120px;background-color:#ee3d1d;color:white;margin-top:10px;}
