*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
.stepInfo{position:relative;margin-top:5px;margin-left:120px;text-align:center;background:#f2f2f2;width:500px;}
.stepInfo li{float:left;width:48%;height:0.15em;background:#bbb;}
.stepIco{border-radius:1em;padding:0.03em;background:#bbb;text-align:center;line-height:1.5em;color:#fff; position:absolute;width:1.4em;height:1.4em;}
.stepIco1{top:-0.7em;left:-1%;}
.stepIco2{top:-0.7em;left:21%;}
.stepIco3{top:-0.7em;left:46%;}
.stepIco4{top:-0.7em;left:71%;}
.stepIco5{top:-0.7em;left:95%;}
.stepText{color:#666;margin-top:0.2em;width:4em;text-align:center;margin-left:-1.4em;}